html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#backLink {
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.profile-top {
  padding-top: 20%vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-top h2 {
  padding-top: 50%vh;
}


* {
  box-sizing: border-box;
}

.circular--square {
  border-radius: 50%;
}

.circular--landscape { display: inline-block; position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; } 

.circular--landscape img { width: auto; height: 100%; margin-left: -50px; }

.circular--portrait { position: relative; width: 200px; height: 200px; overflow: hidden; border-radius: 50%; } 

.circular--portrait img { width: 100%; height: auto; }


.sectionTag {
  padding: 50%vw;
}

