html,
body {
  padding-top: 20%vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.body {
  padding-top: 3vh;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 5vh;
  margin: auto;
  background-color: #fefee3;
  /* background-color: #f0ead2; */
}

/* a {
  color: inherit;
  text-decoration: none;
} */

#backLink {
  text-decoration: none;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.profile-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #588157; */
}

.profile-top h1 {
  padding-top: 2vh;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4vh;
  color: #2c6e49;
}

.profile-top h2 {
  padding-top: 1vh;
  padding-bottom: 3vh;
  color: #4c956c;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

#profile-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 2vh;
}

.navbar {
  background-color: #83D9DB !important;
}

a {
  color: black !important;
}

.view-btn {
  background-color: #D1B0CF !important;
}

button.navbar-toggler{
  color: black !important;
}

.circular--square {
  border-radius: 50%;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.col-sm-6 {
  padding-bottom: 2vh;
}

.sectionTag {
  color: #073b3a;
}
p {
  color: #073b3a;
}
p span {
  color: #073b3a;
}
