html,
body {
  padding-top: 20%vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.body {
  padding-top: 3vh;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-bottom: 5vh;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(rgb(217, 227, 218), rgb(217, 227, 218) 28vh, rgb(254, 254, 227) 10.5vh, rgb(254, 254, 227) 100vh );
  /* background-color: rgb(254, 254, 227); */
  /* background-color: #fefee3; */
  /* background-color: #f0ead2; */
}

/* a {
  color: inherit;
  text-decoration: none;
  font-family: bely-display, sans-serif;
} */

#backLink {
  text-decoration: none;
}
#backlink:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.profile-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #588157; */
}

.profile-top h1 {
  padding-top: 2vh;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 4vh;
  /* color: rgb(217, 227, 218) */
  /* color: #F7EDE2; */
  color: white;
}

* {
  box-sizing: border-box;
}

#profile-img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  margin-bottom: 2vh;
  border: 4px solid whitesmoke;
  outline: 15px solid rgb(217, 227, 218); 
  /* border: 5px solid whitesmoke; */
}

.navbar {
  background-color: #83D9DB !important;
}

a {
  color: black !important;
}

a:hover {
  background-color: pink;
  border-radius: 20%;
}

#adoptBtn {
  background-color: #F28482;
  
}

.view-btn {
  background-color: #D1B0CF !important;
}

button.navbar-toggler{
  color: black !important;
}

.description {
  text-align: justify;
  color: #84A59D;
}

.circular--square {
  border-radius: 50%;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.col-sm-6 {
  padding-bottom: 2vh;
}

.sectionTag {
  color: #073b3a;
}
p {
  color: #073b3a;
}
p span {
  color: #073b3a;
}

#name {
  color: #073b3a;
}

.signInLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  height: 100vh;
}

  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signInImage {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
